<div class="text_body_heading">
<p id="notice"><%= notice %></p>

  ALL THE TWITS

<div class="text_body_form">
<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @tweets.each do |tweet| %>
      <tr>
        <p><td><%= link_to 'Show', tweet %></td></p>
        <p><td><%= link_to 'Edit', edit_tweet_path(tweet) %></td></p>
        <p><td><%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' } %></td></p>
      </tr>
    <% end %>
  </tbody>
</table>
</div>


<br>

<%= link_to 'New Tweet', new_tweet_path %>
</div>
