<!DOCTYPE html>
<html>
<head>
  <title>Twittor</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render "layouts/header" %>
 <nav>
    | <a href="/">HOME</a> | <a href="/tweets">VIEW ALL TWITS</a> | <a href="/tweets/new">NEW TWIT</a> |
  </nav>
<%= yield %>
  <nav>
    | <a href="/">HOME</a> | <a href="/tweets">VIEW ALL TWITS</a> | <a href="/tweets/new">NEW TWIT</a> |
  </nav>
<%= render "layouts/footer" %>
</body>
</html>
